.category-list {
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        .card {
            background-color: white;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 10px;
            a {
                text-decoration: none;
                span.category-title {
                    font-size: 18px;
                    font-weight: bold;
                    color: #333;

                    &:hover {
                        color: #3498db;
                    }
                }
            }

            .category-details-description {
                p {
                    font-size: 14px;
                    color: #666;
                }
            }
        }
    }

    .create-button {
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 10;
        box-sizing: border-box;
        color: #fff;

        button {
            background-color: #3498db;
            color: #fff;
            font-size: 14px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 20px 0;

            &:hover {
                background-color: #2980b9;
            }
        }
    }
}
