header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  color: #fff;
}
header h1 {
  font-size: 1.5rem;
}
header a {
  text-decoration: none;
  color: white;
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
header ul li a:hover {
  color: #e74c3c;
}

.item-list .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.item-list .card-container .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.item-list .card-container .card .item-title {
  font-weight: bold;
}
.item-list .card-container .card span {
  font-size: 16px;
}
.item-list .card-container .card a {
  text-decoration: none;
  color: #333;
}
.item-list .card-container .card .item-price {
  font-size: 16px;
}
.item-list .card-container .card .img-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.item-list .card-container .card .img-container img {
  max-width: 100%;
  max-height: 100%;
}
.item-list .card-container .card:hover a {
  color: #3498db;
}
.item-list .create-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  box-sizing: border-box;
  color: #fff;
}
.item-list .create-button button {
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px 0;
}
.item-list .create-button button:hover {
  background-color: #2980b9;
}

.item-detail .item-details {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex-wrap: wrap;
}
.item-detail .item-details .item-details-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  height: 50vh;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.item-detail .item-details .item-details-image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: cover;
}
.item-detail .item-details .item-details-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.item-detail .item-details .item-details-info h3 {
  font-size: 24px;
}
.item-detail .item-details .item-details-info .item-details-stock {
  font-size: 16px;
  color: #808080;
  margin-bottom: 10px;
}
.item-detail .item-details .item-details-info .item-details-price {
  font-size: 18px;
}
.item-detail .item-details .item-details-info .item-details-description {
  margin: 10px 0;
}
.item-detail .item-details .item-details-info .item-details-description p {
  font-size: 16px;
}
.item-detail .item-details .item-details-info .item-details-category {
  margin-bottom: auto;
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}
.item-detail .item-details .item-details-info .btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.item-detail .item-details .item-details-info .btn-container button {
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px 0;
}
.item-detail .item-details .item-details-info .btn-container button:hover {
  background-color: #2980b9;
}

.item-delete {
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.item-delete .item-details-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  height: 30vh;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.item-delete .item-details-image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: cover;
}
.item-delete h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.item-delete p.description {
  font-size: 16px;
  margin-bottom: 10px;
}
.item-delete a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}
.item-delete p.price,
.item-delete p.stock {
  font-size: 18px;
}
.item-delete p.price {
  margin-top: 10px;
}
.item-delete p.stock {
  margin-bottom: 20px;
}
.item-delete .delete-form {
  margin-top: 20px;
}
.item-delete .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.item-delete .btn-container button {
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.item-delete .btn-container button:hover {
  background-color: #2980b9;
}
.item-delete .btn-container .delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.item-delete .btn-container .delete-button:hover {
  background-color: #c82333;
}

.item-form .container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.item-form .container.form {
  text-align: center;
}
.item-form .container.form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.item-form .container.form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.item-form .container.form .image-preview {
  margin: 10px 0;
}
.item-form .container.form .image-preview img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
}
.item-form .container.form .input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.item-form .container.form .button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.item-form .container.form .error {
  list-style: none;
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
  background-color: #ffe5e5;
  padding: 5px 10px;
  border: 1px solid #ffcccc;
  border-radius: 5px;
}

.category-list .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.category-list .card-container .card {
  background-color: white;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.category-list .card-container .card a {
  text-decoration: none;
}
.category-list .card-container .card a span.category-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.category-list .card-container .card a span.category-title:hover {
  color: #3498db;
}
.category-list .card-container .card .category-details-description p {
  font-size: 14px;
  color: #666;
}
.category-list .create-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  box-sizing: border-box;
  color: #fff;
}
.category-list .create-button button {
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px 0;
}
.category-list .create-button button:hover {
  background-color: #2980b9;
}

.category-detail .category-details {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.category-detail .category-details .btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.category-detail .category-details .btn-container button {
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.category-detail .category-details .btn-container button:hover {
  background-color: #2980b9;
}
.category-detail h3 {
  margin-top: 20px;
  font-size: 24px;
}
.category-detail .card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;
  overflow: auto;
  max-height: 800px;
}
.category-detail .card-container .card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.category-detail .card-container .card a {
  text-decoration: none;
  color: black;
}
.category-detail .card-container .card .item-details-image {
  flex: 1;
  max-width: 100px;
  min-width: 100px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-detail .card-container .card .item-details-image a {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-detail .card-container .card .item-details-image a img {
  max-width: 100%;
  max-height: 100%;
}
.category-detail .card-container .card .item-details-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 300px;
}
.category-detail .card-container .card .item-details-info a {
  font-size: 18px;
  font-weight: bold;
}
.category-detail .card-container .card .item-details-info a:hover {
  color: #3498db;
}
.category-detail .card-container .card .item-details-info p {
  font-size: 16px;
}

.category-form .container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.category-form .container.form {
  text-align: center;
}
.category-form .container.form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.category-form .container.form .input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.category-form .container.form .button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.category-form .container.form .error {
  list-style: none;
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
  background-color: #ffe5e5;
  padding: 5px 10px;
  border: 1px solid #ffcccc;
  border-radius: 5px;
}

.category-delete {
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.category-delete h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.category-delete h3 {
  font-size: 18px;
}
.category-delete p.description {
  font-size: 16px;
  margin-bottom: 10px;
}
.category-delete a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}
.category-delete .card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;
  overflow: auto;
  max-height: 500px;
}
.category-delete .card-container .card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}
.category-delete .card-container .card a {
  text-decoration: none;
  color: black;
}
.category-delete .card-container .card .item-details-image {
  flex: 1;
  max-width: 100px;
  min-width: 100px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-delete .card-container .card .item-details-image a {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-delete .card-container .card .item-details-image a img {
  max-width: 100%;
  max-height: 100%;
}
.category-delete .card-container .card .item-details-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 300px;
}
.category-delete .card-container .card .item-details-info a {
  font-size: 18px;
  font-weight: bold;
}
.category-delete .card-container .card .item-details-info a:hover {
  color: #3498db;
}
.category-delete .card-container .card .item-details-info p {
  font-size: 16px;
}
.category-delete .delete-form {
  margin-top: 20px;
}
.category-delete .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.category-delete .btn-container button {
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.category-delete .btn-container button:hover {
  background-color: #2980b9;
}
.category-delete .btn-container .delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.category-delete .btn-container .delete-button:hover {
  background-color: #c82333;
}

.breadcrumb-navigation {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.breadcrumb-navigation .breadcrumb-link {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}
.breadcrumb-navigation .breadcrumb-link:hover {
  text-decoration: underline;
}
.breadcrumb-navigation .breadcrumb-separator {
  color: #777;
  margin: 0 5px;
}
.breadcrumb-navigation .category-dropdown {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
}

main {
  flex: 1;
  padding: 20px 20px;
  padding-top: 0;
  margin-top: 60px;
  box-sizing: border-box;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
