extends layout

block content
    .category-list
        .breadcrumb-navigation
            a.breadcrumb-link(href="/") Home
            span.breadcrumb-separator &gt; Categories
        .card-container
            each category in category_list
                .card
                    a(href=`/inventory/category/${category._id}`)
                        span.category-title #{category.name}

                    .category-details-description
                        p #{category.description}
            else
                span There are no categories.

        .create-button
            a(href="/inventory/category/create")
                button(type="button") Create Category
