extends layout

block content
    .category-form
        h1= title

        form(action="" method="post" class="container form")
            if errors
                ul
                    for error in errors
                        li(class="error")= error.msg

            label(for="name" class="label") Name:
            input(type='text' placeholder='Fruit, Vegetable etc.' name='name' value=(undefined===category ? '' : category.name) required='true' class="input-field")
            label(for="description" class="label") Description:
            input(type='text' placeholder='A wide variety of farm-fresh vegetables to choose from.' name='description' value=(undefined===category ? '' : category.description) required='true' class="input-field")

            button(type="submit" class="button") Submit
