header
    a(href="#") My Website
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/") About
            li
                a(href="/") Services
            li
                a(href="/") Contact
